.github/**
test/**
src/**
tasks/**
.tasks_old/**
tsconfig.json
vitest.config.*
esbuild.config.mjs
.editorconfig
.eslintrc*
*.vsix
coverage/**
.vscode/**
.git/**
node_modules/**
pnpm-lock.yaml
pnpm-workspace.yaml
.gitignore
